#home{
	background-image: url('../../assets/img/nbalogo.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-around;
	height: 100vh;
	width: 100vw;


}
section{
		background-color: GhostWhite;
		height: 80%;
		width: 20%;
		margin: auto;
		border-radius: 20px;
	}

h1{
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	font-family: Courier New;
}
.play-button-container{
	width: 100%;
}
a.play-button{
	background-color: blue;
	border-radius: 30px;
	color: white;
	cursor: pointer;
	padding: 1rem;
	display: block;
	text-align: center;
	transition: 0.3s linear all;
}
a.play-button:hover{
	background-color: red;
}
.auth-container{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

/*#login-button{
	color: blue ;
}
#signup-button{
	color: blue;
}*/
.auth-container .auth-buttons{
	color: white;
	background-color: blue;
	cursor: pointer;
	border-radius: 30px;
	padding: 1rem;
	text-align: center;
	width: 45%;
	transition: 0.3s linear all;
}
.auth-buttons:hover{
	background-color: red;
}
@media(max-width: 768px){
	#home section{
		padding: 0 1rem;
		width: 100%;
		height: 100%;
	}
}

/*lg-breakpoint: 1024px;
  md-breakpoint: 768px;
  sm-breakpoint: 641px;
  xs-breakpoint: 480px;
 */
