.questions{
	background-color: #F8F8F8;
	border-left: 5px solid blue;
	width: 80%;
	margin: 3rem auto 0 auto;
	padding: 1.5rem 2rem;
}
	h2{
		text-align: center;
		font-weight: lighter;
	}
	.lifeline-container{
		display: flex;
		justify-content: space-between;
	}
	.lifeline{
		position: relative;
		top: -3px;
	}
	h5{
		font-size: 1.2rem;
		margin-bottom: 3rem;
		line-height: 1.5;
		text-align: center;
	}
	.options-container{
		display: inline-block;
		width: 50%;
	}
	.option{
		background-color: blue;
		border-radius: 30px;
		color: white;
		cursor: pointer;
		margin: 2rem auto;
		padding: 1rem;
		transition: 0.3s linear all;
		width: 90%;
	}
	.option:hover{
		background-color: red;
	}
	.button-container{
		display: flex;
		justify-content: flex-start;
		margin: 0 auto 0.5rem auto;
		cursor: pointer;
		padding: 2rem;
		width: 80%;
	}
	.button-container button{
		border: none;
		color: white;
		cursor: pointer;
		font-family: quicksand;
		margin-right: 2rem;
		padding: 0.5rem;
	}
	.button-container button:first-child{
		background-color: blue;
		transition: 0.2s linear all
	}
	/*.button-container button:first-child:hover{
		background-color: red;
	}*/
	.button-container button:nth-child(2){
		background-color: green;
		transition: 0.2s linear all
	}
	.button-container button:last-child{
		background-color: red;
		transition: 0.2s linear all
	}
